{
  "include": [
    "packages/**/*.ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "**/interfaces/*.ts",
    "**/interfaces/*.ts",
    "**/index.ts"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "extension": [
    ".ts",
    ".tsx"
  ],
  "require": [
    "ts-node/register",
    "tsconfig-paths/register",
    "source-map-support/register"
  ],
  "check-coverage": true,
  "lines": 99,
  "statements": 100,
  "functions": 99,
  "branches": 89,
  "all": true
}
